@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


:root {
  --section-padding:30px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}

html{
  scroll-behavior: smooth;
}

.second{
  background: hsl(39, 77%, 83%);
}

body {
  font-family: 'Roboto', sans-serif;
  color: #222;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #000;
}
.links-container{
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  font-size: 14pt;
  list-style: none;
}
.home-links{
  margin-right: auto;
  margin-left: 20px;
  font-size: 1.5rem;
  font-weight: 900;
  color: #c0392b;
}

nav a{
  color: white;
  padding: 20px;
  text-decoration: none;
  transition: color 0.3s ease-in;
}
nav a:hover{
  color:#c0392b ;
}
nav i{
  color: white;
  font-size: 20px;
}
.open-sidebar-btn, .close-sidebar-btn{
  display: none;
}
#sidebar-active{
  display: none;
}


#sidebar-active:checked ~ #overlay{
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 9;
  top: 0;
  left: 0;
  position: fixed;
}

.parallax {
  background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.overlay {
  border-image: fill 1
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    );
}

/* Main Content */
.content {
  position: absolute;
  color: white;
  top: 45%;
  width: 100%;
  text-align: center;
  font-size: 15px;
}
.content h1{
  color: var(--primary-color);
  font-size: 4.5em;
}
.content p{
  font-size: 1.2em;
  margin-top: 20px;
}

.section{
  background: #000;
  padding: var(--section-padding);
}

.h1{
  color: #c0392b;
  text-align: center;
  font-size: 1.5rem;
}

.abt{
  display: grid;
  gap: 10px;
}
.right{
  margin-top: 20px;
}
.right p, li{
  color: whitesmoke;
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  height: 100%; 
  width: 60%;
  border-radius: 25px; 
}
.left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.education{
  padding:30px;
  background: white;
}
.institutions{
  margin-top: 20px;
}
.education-section {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
}

.education-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.institution {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.institution img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 1rem;
}

.institution .info {
  max-width: 600px;
}

.institution .info h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.institution .info p {
  margin: 0.5rem 0 0;
  color: #666;
}

/* Syles */

.section-1{
  background: #000;
}
.skills-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.hidden {
  display: none;
}
.skills-p{
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

#skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
#skills-list i{
  font-size: 2rem;
}

ul {
  list-style: none;
  padding: 0;
}

#skills-list li {
  margin: 15px;
  font-size: 2rem;
}

i {
  margin-right: 8px;
}
.html{
  color: orangered;
}
.css ,.ts, .react{
  color: #1e88e5;
}
.js{
  color: #d6e71b;
}
.bs{
  color: #800080;
}
.btn{
  text-align: center;
}
button {
  text-align: center;
  color: white;
  border: none;
  border-radius: 15px;
  background-color: #c0392b;
  margin-top: 10px;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 40px;
  cursor: pointer;
}


.hidden{
  text-align: center;
}



.work-experience {
  max-width: 800px;
  
  border-radius: 8px;
  padding: 30px;
  
}

.work-experience h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.job {
  margin-bottom: 2rem;
}

.job h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.job .company {
  font-weight: bold;
  color: #666;
}

.job .dates {
  font-style: italic;
  color: #999;
}

.job .description {
  margin: 0.5rem 0 0;
  line-height: 1.6;
  color: #555;
}

.footer {
  color: #fff;
  padding: 2rem;
  background-color: rgb(17, 17, 17);
  text-align: center;
  line-height: 1.4rem;
}

.footer-content p {
  margin-bottom: 1rem;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.socials a {
  text-decoration: none;
  color: #ccc;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: #fff;
}

.socials a[aria-label="LinkedIn"]:hover {
  color: #0077b5; 
}

.socials a[aria-label="Instagram"]:hover {
  color: #e4405f; 
}

.socials a[aria-label="WhatsApp"]:hover {
  color: #25d366; 
}

.socials a[aria-label="GitHub"]:hover {
  color: #333; 
}

.socials a[aria-label="Facebook"]:hover {
  color: #1877f2; 
} 

.copyright {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 17, 17,0.95);
  color: white;
  width: 100%;
  height: 50px;
}
